# dependencies and build artifacts
node_modules/
build/
dist/
.tmp/
.cache/

# environment files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# tests
coverage/

# editor and OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp

